[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/augustocosta
[access "refs/for/refs/*"]
	read = group user/augustocosta
	push = group user/augustocosta
	label-Code-Review = -2..+2 group user/augustocosta
	label-Verified = -1..+1 group user/augustocosta
	rebase = group user/augustocosta
	removeReviewer = group user/augustocosta
	submit = group user/augustocosta
[access "refs/heads/*"]
	read = group user/augustocosta
	create = group user/augustocosta
	push = +force group user/augustocosta
	pushMerge = group user/augustocosta
[access "refs/tags/*"]
	push = +force group user/augustocosta
	pushTag = group user/augustocosta
	pushSignedTag = group user/augustocosta
